.container-content{
    background-color: rgb(196, 224, 233);
    opacity: 85%;
    /* border-radius: 15px 15px 15px 15px; */
    width: 100%;
}
.txt{
    font-family: sans-serif; 
    font-weight: 400;
}
body{
    background: rgb(66,150,112);
background: linear-gradient(90deg, rgba(66,150,112,1) 0%, rgba(150,201,181,1) 47%, rgba(8,181,109,1) 100%);
}
.txtcont2{
    color: rgb(142, 202, 51);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 400;
    
}
.container-content2{
    background-color: aliceblue;
    border: solid 4px rgb(142, 202, 51);
}
